$primary: #2152ff;
$secondary: #21d4fd;
$dark: #66748E;
$light: #d2d6da;
$shadow: #92ebff;
$gradient: linear-gradient(310deg, $primary, $secondary);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: $dark;
}

section#signin {
  max-width: 340px;
  margin: 10% auto 0;
  padding: 20px;

  h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    background-image: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    margin-bottom: 30px;
    text-align: center;
  }

  form {
    label {
      font-size: 12px;
      font-weight: bolder;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 12px 20px;
      margin: 10px 0;
      display: inline-block;
      border: 1px solid $light;
      border-radius: 0.5rem;
      transition: box-shadow 0.15s ease, border-color 0.15s ease;

      &:focus {
        border-color: $secondary;
        outline: 0;
        box-shadow: 0 0 0 2px $shadow;
      }
    }

    button {
      background-image: $gradient;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      width: 100%;
      transition: all .15s ease-in-out;

      &:hover {
        transform: scale(1.01);
      }

      &:focus {
        border-color: $secondary;
        outline: 0;
        box-shadow: 0 0 0 2px $shadow;
      }
    }
  }
}
